h1 {
    font-family: "Raleway", sans-serif !important;
    color: #002054;
    font-size: 1.5rem;
    font-weight: 800;
    text-align: left;
    padding-left: 15px;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
