ion-toolbar{
  --background:#072033;
}
.main-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.head{
  width: 100%;
  .title{
    display: inline-block;
    h3 {
      font-family: "Raleway", sans-serif !important;
      font-size: 1.8rem;
      font-weight: 800;
      color: #072033;
      span{
        font-family: 'Roboto', sans-serif;
        margin-left: 15px;
        color: #7e7e7e;
        font-size: 1rem;
        line-height: 36px;
      }
    }
  }
  
  .options{
    display: inline-block;
    float: right;
  }
}

#container {
  height: 100%;
  width: 100%;
  max-width: 127vh;
  
  .body{
    background-color: #FFFFFF;
    border-radius: 12px;
  }
}


table {
  border-collapse: collapse;
  width: 100%;


  thead tr{
    border-bottom: 1px solid #ddd;
  } 
  
  tr:hover {background-color: #F1F6FB;}

  thead tr th{
    text-align: left;
    color: #ABABAB;
    font-size: 1.2rem;
    font-weight: 500;
  }

  td, th{
    padding: 8px;
  }
}